@tailwind base;
@tailwind components;
@tailwind utilities;

/* ya debajo tus estilos globales */
:root{
  --umg-blue:#0066B3;
  --umg-red:#C9252B;
}
/* ... body, code, etc */


html, body {
  height: 100%;
  background-color: #0066B3; /* azul UMG */
  color: white; /* texto blanco para contraste */
}
